# Turn on warnings for unquoted variables with safe values
enable=quote-safe-variables

# Turn on warnings for unassigned uppercase variables
enable=check-unassigned-uppercase

# Disable unwanted warnings
# Thoses variables are used or referenced by others files
disable=SC2034    # appears unused
disable=SC2154    # referenced but not assigned
